<link rel="stylesheet" type="text/css" href="style.css">

<h1>New Entry</h1>
<div class="newentry">
    <form class="entryForm" action="/" method="POST">


<div class="form">
<p>Activity</p>
<input type="checkbox" id="activity" name="activity" value="social">
<label for="social">Social</label><br>
<!-- <input type="checkbox" id="yoga" name="activity" value="yoga">
<label for="activity">Yoga</label><br>
<input type="checkbox" id="meditation" name="activity" value="meditation">
<label for="activity">Meditation</label><br>
<input type="checkbox" id="rest" name="activity" value="rest">
<label for="activity">Rest</label><br>
<input type="checkbox" id="exercise" name="activity" value="exercise">
<label for="activity">Exercise</label><br>
<input type="checkbox" id="dance" name="activity" value="dance">
<label for="activity">Dance/Play</label><br> -->
</div>


<div class="form">
<p>Mood</p>
<input type="radio" id="great" name="mood" value="great">
<label for="great">Great</label><br>
<input type="radio" id="okay" name="mood" value="okay">
<label for="okay">Okay</label><br>
<input type="radio" id="bad" name="mood" value="bad">
<label for="bad">Bad</label><br>
</div>

<div class="form">
<p>Thoughts</p>
<textarea name="thoughts" form="content">Enter text here...</textarea>
<input type="submit">
    </form>
</div>

</div>

<div class="backbutt"><a href="/"><button class="backbtn">back</button></a></div>