<%- include('../partials/head.ejs') %>

<div class="color">
    <div class="header">
        <a href="/"><img src="../imgs/Navigation/left-arrow.png" /></a>
    </div>
    <h1 class="gyst">New Entry</h1>
    <div class="spacer"></div>
</div>

<div class="newentry">
    <form class="entryForm" action="/" method="POST">

       

<div class="form">

<p>Activity</p>
<input type="checkbox" id="social" name="name" value="social">
<label for="social">Social</label><br>
<!-- <input type="checkbox" id="yoga" name="activity" value="yoga">
<label for="activity">Yoga</label><br>
<input type="checkbox" id="meditation" name="activity" value="meditation">
<label for="activity">Meditation</label><br>
<input type="checkbox" id="rest" name="activity" value="rest">
<label for="activity">Rest</label><br>
<input type="checkbox" id="exercise" name="activity" value="exercise">
<label for="activity">Exercise</label><br>
<input type="checkbox" id="dance" name="activity" value="dance">
<label for="activity">Dance/Play</label><br> -->
</div>


<div class="form">
<p>Mood</p>
<input type="radio" id="great" name="mood" value="great">
<label for="great">Great</label><br>
<input type="radio" id="okay" name="mood" value="okay">
<label for="okay">Okay</label><br>
<input type="radio" id="bad" name="mood" value="bad">
<label for="bad">Bad</label><br>
</div>

<div class="form">
<p>Thoughts</p>
<textarea name="thoughts" form="thoughts">Enter text here...</textarea>
<input type="submit">
    </form>
</div>

</div>