<link rel="stylesheet" type="text/css" href="style.css">

<h1>New Entry</h1>
<div class="newentry">
    <form class="form" action="/" method="POST">
<p>Activity</p>
<input type="checkbox" id="social" name="social" value="social">
<label for="social">Social</label><br>
<!-- <input type="checkbox" id="yoga" name="activity" value="yoga">
<label for="yoga">Yoga</label><br>
<input type="checkbox" id="meditation" name="activity" value="meditation">
<label for="meditation">Meditation</label><br>
<input type="checkbox" id="rest" name="activity" value="rest">
<label for="rest">Rest</label><br>
<input type="checkbox" id="exercise" name="activity" value="exercise">
<label for="exercise">Exercise</label><br>
<input type="checkbox" id="dance" name="activity" value="dance">
<label for="dance">Dance/Play</label><br> -->
<br><br><br>
<p>Mood</p>
<input type="radio" id="great" name="mood" value="great">
<!-- <label for="great">Great</label><br>
<input type="radio" id="okay" name="mood" value="okay">
<label for="okay">Okay</label><br>
<input type="radio" id="bad" name="mood" value="bad">
<label for="bad">Bad</label><br> -->
<br><br><br>
<p>Thoughts</p>
<textarea name="thoughts" form="content">Enter text here...</textarea>
<input type="submit">
    </form>

</div>

<div class="buttonContainer">
    <a class="backbtn" href="/">back</a>
</div>