<link rel="stylesheet" type="text/css" href="style.css">

<h1><%= habit.date %></h1>
<div class="body">
            <div class="details">
                    <% habit.activity.forEach(act => { %>
                        <%= act.name %>
                    <% }) %>
                    <br>
                    <%= habit.mood %> 
                    <br> 
                    <%= habit.thoughts %>
                    <br><br>
            </div>
<div class="backbutt"><a href="/"><button class="backbtn">back</button></a></div>
</div>