body {
    background-color: #CCCCCC;
    margin: 0 auto;
}

.color {
    background-color: #303535;
    border-bottom: 3px solid black;
    height: 70px;
    width: 393px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    resize: none;
}

img {
    margin: 0 20px 0 10px;
    height: 30px;
    width: 30px;
}

.spacer {
    margin: 0 20px 0 20px;
    height: 30px;
    width: 30px;
}

.gyst {
    font-family: 'Prata', serif;
    font-size: 28px;
    margin: 0 auto;
    margin-left: 20px;
}

.show {
    font-family: 'Prata', serif;
    font-size: 25px;
}

.entry {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: 16px;
}

.singleentry {
    width: 350px;
    /* height: 500px; */
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.form {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
}

/* .date {
    text-align: left;
    position: relative;
    left:10px;
} */

.icons {
    display: flex;
    justify-content: right;
    vertical-align: center;
    position: absolute;
    top: 80px;
    left: 770px;
}

.addbtn {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #303535;
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.backbtn {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #303535;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.delbtn {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #303535;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.backbutt {
    position: relative;
    left: 320px;
}

.deletebutt {
    position: relative;
    left: 280px;
}

.addbutt {
    position: relative;
    left: 330px;
    /* top: 415px; */
    bottom: -10px;
}

.buttoncontainer {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}