body {
    background-color: #CCCCCC;
}

.entry {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.singleentry {
    width: 300px;
    /* height: 500px; */
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.form {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
}

/* .date {
    text-align: left;
    position: relative;
    left:10px;
} */

.icons {
    display: flex;
    justify-content: right;
    vertical-align: center;
    position: absolute;
    top: 80px;
    left: 770px;
}

.addbtn {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    cursor: pointer;
    font-size: 30px;
}

.backbtn {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    cursor: pointer;
    font-size: 20px;
}

.backbutt {
    position: absolute;
    left: 540px;
}

.addbutt {
    position: absolute;
    left: 540px;
}

.buttoncontainer {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}