<%- include ('../../partials/head.ejs') %>

<div class="color">
    <div class="header">
        <a href="/profile/welcome"><img src="https://i.imgur.com/mefk1CF.png" class="img"/></a>
    </div>
    <h1 class="show">Attributions</h1>
    <div class="spacer"></div>
</div>

<div class="newentry">
    
    
    <div class="form">
        <div class="attCard">
            <div><img src="https://i.imgur.com/MWiGByN.png" class="icons"/></div>
            <div><h2>Heart by </h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/lwqy3Ee.png" class="icons"/></div>
            <div><h2>Sneaker by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/l8WUbhB.png" class="icons"/></div>
            <div><h2>Notebook by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/pbQ3ZnR.png" class="icons"/></div>
            <div><h2>Trashcan by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/tOY5a6k.png" class="icons"/></div>
            <div><h2>User by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/eQCh7Eg.png" class="icons"/></div>
            <div><h2>Check by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/1ba6nWl.png" class="icons"/></div>
            <div><h2>Pencil by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/mefk1CF.png" class="icons"/></div>
            <div><h2>Back by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/TRjnLFS.png" class="icons"/></div>
            <div><h2>Exit by </h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/e1iwlfc.png" class="icons"/></div>
            <div><h2>Yoga by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/PanqHkS.png" class="icons"/></div>
            <div><h2>Meditation Rocks by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/SQHiIVk.png" class="icons"/></div>
            <div><h2>Bicycle by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/tSyZgXs.png" class="icons"/></div>
            <div><h2>Dance by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/yaHCwmH.png" class="icons"/></div>
            <div><h2>Sofa by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/gPq87BK.png" class="icons"/></div>
            <div><h2>Friends by</h2></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/hcer7On.png" class="icons"/></div>
            <div><h2>Emoticons by</h2></div>
        </div>
    </div>
    
    </div>