<%- include ('../../partials/head.ejs') %>

<div class="color">
    <div class="header">
        <a href="/profile/welcome"><img src="https://i.imgur.com/mefk1CF.png" class="img"/></a>
    </div>
    <h1 class="show">Attributions</h1>
    <div class="spacer"></div>
</div>

<div class="newentry">
    
    
    <div class="form">
        <div class="attCard">
            <div><img src="https://i.imgur.com/MWiGByN.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/lwqy3Ee.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/sneakers" title="sneakers icons">Sneakers icons created by juicy_fish - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/l8WUbhB.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/journal" title="journal icons">Journal icons created by Slidicon - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/pbQ3ZnR.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/trash" title="trash icons">Trash icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/tOY5a6k.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Maxim Basinski Premium - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/eQCh7Eg.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/check" title="check icons">Check icons created by Maxim Basinski Premium - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/1ba6nWl.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/mefk1CF.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Roundicons - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/TRjnLFS.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/close" title="close icons">Close icons created by Pixel perfect - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/e1iwlfc.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/calm" title="calm icons">Calm icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/PanqHkS.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/relax" title="relax icons">Relax icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/SQHiIVk.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/bike" title="bike icons">Bike icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/tSyZgXs.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/human" title="human icons">Human icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/yaHCwmH.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/couch" title="couch icons">Couch icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/gPq87BK.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/fun" title="fun icons">Fun icons created by Freepik - Flaticon</a></div>
        </div>
        <div class="attCard">
            <div><img src="https://i.imgur.com/hcer7On.png" class="icons"/></div>
            <div class="att"><a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by joalfa - Flaticon</a></div>
        </div>
    </div>
    
    </div>