<%- include ('../../partials/head.ejs') %>

<form class="entryForm" action="/profile/sign-up" method="POST">

<div class="color">
    <div class="header">
        <a href="/profile/welcome"><img src="https://i.imgur.com/mefk1CF.png" /></a>
    </div>
    <h1 class="show">Sign Up</h1>
    <div class="header"><input class="img" type="image" src="https://i.imgur.com/eQCh7Eg.png" alt="Submit" /></div>
</div>

<div class="newentry">
   
<div class="form">

<label for="username">Username</label>
<input type="text" name="username" value="Enter username"/>
</div>


<div class="form">
    <label for="Password">Password</label>
    <input type="text" name="password" value="Enter password"/>
</div>

<div class="form">

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" value="Enter first name"/>
    </div>
    
    <div class="form">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" value="Enter last name"/>
    </div>



</div>
</form>