<%- include ('../../partials/head.ejs') %>

<div class="color">
    <div class="header">
        <a href="/"><img src="https://i.imgur.com/mefk1CF.png" /></a>
    </div>
    <h1 class="show">Welcome to Gyst!</h1>
    <div class="spacer"></div>
</div>

<div class="newentry">
   
<a href="/profile/sign-in"><div class="form">
<h1>Sign In</h1>
</div></a> 


<a href="/profile/sign-up"><div class="form">
<h1>Sign Up</h1>
</div></a>

</div>
